<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
      <script src="jquery-2.1.4.min.js"></script>
      <link rel="stylesheet" href="main.css"/>

      <script>
            $(document).on("click", "#question", function (evt) {
                  $.getJSON("/whatIsTheMeaningOfLife", function (dataFromServer) {
                        data = dataFromServer;
                        var $meaningOfLifeAnswer = $('#answer');
                        $meaningOfLifeAnswer.text(dataFromServer['answer']);
                  });
            });
      </script>
</head>

<div>
      <div id="question">What is the meaning of life?</div>
      <div id="answer"></div>
</div>

</html>