<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script src="jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="main.css"/>

    <script>
        var index = 0;
        $(document).on("click", "#question", function (evt) {
            $.getJSON("/amILucky", function (dataFromServer) {
                data = dataFromServer;
                index++;
                var $answer = $('#answer');
                $answer.append('<div>' + index + ': ' + dataFromServer['answer'] + '</div>');
            });
        });
    </script>
</head>

<div>
    <div id="question">Am I the lucky one?</div>
    <div id="answer"></div>
</div>

</html>